/***************小米Note2产品头部目录product-nav********************/
.product-nav{
	border-top:1px solid #E0E0E0;
	box-shadow:0 5px 12px 1px #E0E0E0;
}
.product-nav .container{
	height:60px;
	line-height:60px;
}
.product-nav .container>h2{
	width:89px;
	font-weight:400;
	font-size:18px;
	color:#333;
}
.product-nav .container>p{
	font-size:14px;
}
.product-nav .container>p>a{
	color:#333;
}
.product-nav .container>p>span{
	color:#e0e0e0;
	margin:0 5px;
}
.product-nav .container>p>a:hover{
	color:#ff6700;
}
.product-nav .container>p>a.actived{
	color:#ff6700;
}
/*************提示登录********************/
.login-clue{
	background-color:#F7F7F7;
	margin-top:8px;
}
.login-clue .container{
	height:49px;
	line-height:45px;
	text-align:center;
	color:#333;
	font-size:14px;
}
.login-clue .container p>a{
	color:#ff6700;
	margin-left:25px;
}
.login-clue .container p>a:last-child{
	color:#B5B5B6;
	font-size:16px;
}
/*************产品详情product-details******************/
/**********产品图片detail-left***********/
.product-details{
	margin-top:32px;
	margin-bottom:32px;
}
.detail-main .detail-left{
	width:560px;
	height:560px;
	overflow:hidden;
	position:relative;
}
.detail-main .detail-right{
	width:606px;
	height:1368px;  /*测试用 待删*/
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.detail-main .detail-left p{
	width:1680px;
}

.detail-main .detail-left img{
	float:left;
	width:560px;
	height:560px;
}
/****图片左右滑动箭头*****/
.detail-main .detail-left>a{
	display:block;
	width:41px;
	height:69px;
	position:absolute;
	top:230px;
}
.detail-main .detail-left>a.arrow-left{
	background:url(../images/icon-slides.png) no-repeat -84px 50%;
	left:0px;
}
.detail-main .detail-left>a.arrow-right{
	background:url(../images/icon-slides.png) no-repeat -124px 50%;
	right:0px;
}
.detail-main .detail-left>a.arrow-left:hover{
	background-position:0px 50%;
}

.detail-main .detail-left>a.arrow-right:hover{
	background-position:-42px 50%;
}
/**********产品信息detail-right***********/
.detail-main .detail-right>div.main-desc>h1{
	font-weight:400;
	font-size:24px;
	margin-bottom:8px;
}
/********描述************/
.detail-main .detail-right>div.main-desc>p.desc{
	font-size:14px;
	color:#b0b0b0;
	margin-bottom:10px;
}
.detail-main .detail-right>div.main-desc>p.desc>span{
	color:#ff6700;
}
/********价格************/
.detail-main .detail-right>div.main-desc>p.price{
	color:#ff6700;
	font-size:16px;
	margin-bottom:20px;
}
.detail-main .detail-right>div.main-desc>p.price>del{
	color:#b0b0b0;
	font-size:14px;
}
/********选择优惠券************/
.detail-main .detail-right>div.main-desc>p.coupon{
	height:20px;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
}
/********选择地址************/
.detail-main .detail-right>div.address{
	height:42px;
	padding:30px 0 30px 30px;
	background:#FAFAFA;
	border:1px solid #E0E0E0;
	font-size:14px;
}
.detail-main .detail-right>div.address>p{
	display:inline;
}
.detail-main .detail-right>div.address>a{
	color:#ff6700;
}
.detail-main .detail-right>div.address>span{
	display:block;
	color:#ff6700;
	margin:5px 0 0 15px;
}
.detail-main .detail-right>div.address>p.address-info>span{
	margin-right:10px;
}
/********选择版本************/
.detail-main .detail-right p.title{
	font-size:18px;
	color:#333;
	margin-bottom:10px;
}
.detail-main .detail-right>div.choose-version>p.title>span{
	color:#b0b0b0;
	font-size:14px;
}
.detail-main .detail-right>div.choose-version>div.version>p{
	width:298px;
	height:78px;
	line-height:78px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
	display:inline-block;
	color:#b0b0b0;
	margin-bottom:15px;
}
.detail-main .detail-right>div.choose-version>div.version>p:nth-child(2){
	border:1px dashed #e0e0e0;
}
.detail-main .detail-right>div.choose-version>div.version>p>span.storage{
	margin-left:25px;
}
.detail-main .detail-right>div.choose-version>div.version>p>span.price{
	margin-right:25px;
}
.detail-main .detail-right>div.choose-version>div.version>p.actived>span.storage{
	color:#ff6700;
}
.detail-main .detail-right>div.choose-version>div.version>p.actived>span.price{
	color:#757575;
}
.detail-main .detail-right>div.choose-version>div.version>p.actived{
	margin-right:5px;
	border-color:#ff6700;
}
.detail-main .detail-right>div.choose-version>div.version>p:last-child span.storage{
	color:#333;
}
.detail-main .detail-right>div.choose-version>div.version>p:last-child{
	margin-bottom:0;
}
/********选择颜色************/
.detail-main .detail-right>div.choose-color>div.color>p{
	width:278px;
	height:42px;
	line-height:42px;
	text-align:center;
	display:inline-block;
	border:1px solid #e0e0e0;
	margin-bottom:15px;
}
.detail-main .detail-right>div.choose-color>div.color>p.actived{
	border-color:#ff6700;
	color:#ff6700;
}
.detail-main .detail-right>div.choose-color>div.color>p img{
	vertical-align:middle;
	margin-right:10px;
	width:16px;
	height:16px;
}
.detail-main .detail-right>div.choose-color>div.color>p:last-child{
	border-style:dashed;
	margin-bottom:0;
}
/********选择小米提供的意外险************/
.detail-main .detail-right>div.choose-insurance>p>a{
	font-size:14px;
	color:#ff6700;
	float:right;
}
.detail-main .detail-right>div.choose-insurance>div.insurance{
	border:1px solid #e0e0e0;
	font-size:14px;
	height:109px;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>span{
	width:24px;
	height:24px;
	border-radius:50%;
	border:1px solid #b0b0b0;
	margin-left:30px;
	margin-right:35px;
	cursor:pointer;
	position:relative;
	top:45px;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>img{
	vertical-align:middle;
	margin-right:15px;
	position:relative;
	top:32px;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>div.mi-insur{
	width:340px;
	height: 28px;
    line-height: 28px;
	position:relative;
	top:32px;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>div.mi-insur>p:first-child{
	font-size:18px;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>div.mi-insur>p:last-child{
	color:#b0b0b0;
}
.detail-main .detail-right>div.choose-insurance>div.insurance>p.price{
	position:relative;
    top: 60px;
    right: 20px;
	color:#757575;
}
/********搭配购买************/
.detail-main .detail-right>div.match-buy>div{
	height:100px;
	line-height:100px;
	border:1px solid #e0e0e0;
	font-size:18px;
	box-sizing: border-box;
    padding: 0 20px;
}
/********总价************/
.detail-main .detail-right>div.total-price{
	height:140px;
	background-color:#F9F9FA;
	box-sizing:border-box;
	padding:30px;
}
.detail-main .detail-right>div.total-price>div{
	font-size:14px;
	color:#616161;
}
.detail-main .detail-right>div.total-price>div>p{
	display:inline-block;
}
.detail-main .detail-right>div.total-price>p{
	color:#ff6700;
	font-size:24px;
	padding-top:20px;
}
/********加入购物车************/
.detail-main .detail-right>div.add-cart{
	width:300px;
	height:54px;
	line-height:54px;
	background-color:#ff6700;
	text-align:center;
}
.detail-main .detail-right>div.add-cart>a{
	color:#fff;
}
/********支持7天无理由退货************/
.detail-main .detail-right>p.sales-return{
	height:27px;
	color:#b0b0b0;
	font-size:14px;
}
/****************************详情下面部分*********************************/
.details-below{
	background-color:#F5F5F5;
	padding:25px 0 60px;
}
.details-below h3{
	font-weight:400;
	font-size:22px;
}
.details-below div.packing-list h3{
	margin-bottom:25px;
}
.details-below img{
	width:1224px;
}
.details-below div.mi-promise>div{
	height:33px;
	line-height:33px;
	margin:25px 0;
}
.details-below div.mi-promise>div>a{
	color:#424242;
}
/****************************目录随滚动条移动*********************************/
.fixed_nav{
	position:fixed;
	z-Index:100;
	top:0;
	left:0;
	right:0;
	background-color:#fff;
}